// Import all of Bootstrap's CSS
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/swiper/swiper-bundle.min.css";
@import "./sections/adaptive";
@import "./sections/modiweek";
@import "./sections/create";
@import "./sections/header";
@import "./sections/footer";
@import "./sections/best-seller";
@import "./sections/hero";
@import "./sections/followus";
@import "./sections/collection";
@import "./sections/product-hero";

