// Import all of Bootstrap's CSS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./sections/header";
@import "./sections/footer";
@import "./sections/best-seller";
@import "./sections/hero";
@import "./sections/collection";
