// Import all of Bootstrap's CSS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/swiper/swiper-bundle.min.css";

@import "./sections/modiweek";
@import "./sections/create";
@import "./sections/header";
@import "./sections/footer";
@import "./sections/best-seller";
@import "./sections/hero";
@import "./sections/collection";


.swiper {
    width: 100%;
    height: 600px;
  }