<section>
    <div class="container">
        <div class="flex">
    <div class="all-filter-left">
        <div class="all-filter-part1">
            <p class="section1-part1-p">filters</p>
            <div class="section1-part1-box">
                <div class="section1-part1-item-box">
                    <div class="section1-part1-item">
                        <p>Sort By</p>
                        <svg class="svg-s1" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <path
                                d="M29.714 18.286h-11.429v11.429c0 1.257-1.029 2.286-2.286 2.286s-2.286-1.029-2.286-2.286v-11.429h-11.429c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286h11.429v-11.429c0-1.257 1.029-2.286 2.286-2.286s2.286 1.029 2.286 2.286v11.429h11.429c1.257 0 2.286 1.029 2.286 2.286s-1.029 2.286-2.286 2.286z">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="section1-part1-item-box">
                    <div class="section1-part1-item">
                        <p>Size</p>
                        <svg class="svg-s1" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <path
                                d="M29.714 18.286h-11.429v11.429c0 1.257-1.029 2.286-2.286 2.286s-2.286-1.029-2.286-2.286v-11.429h-11.429c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286h11.429v-11.429c0-1.257 1.029-2.286 2.286-2.286s2.286 1.029 2.286 2.286v11.429h11.429c1.257 0 2.286 1.029 2.286 2.286s-1.029 2.286-2.286 2.286z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="section1-part1-item-box">
                    <div class="section1-part1-item">
                        <p>Color</p>
                        <svg class="svg-s1" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <path
                                d="M29.714 18.286h-11.429v11.429c0 1.257-1.029 2.286-2.286 2.286s-2.286-1.029-2.286-2.286v-11.429h-11.429c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286h11.429v-11.429c0-1.257 1.029-2.286 2.286-2.286s2.286 1.029 2.286 2.286v11.429h11.429c1.257 0 2.286 1.029 2.286 2.286s-1.029 2.286-2.286 2.286z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="section1-part1-item-box">
                    <div class="section1-part1-item">
                        <p>Collection</p>
                        <svg class="svg-s1" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <path
                                d="M29.714 18.286h-11.429v11.429c0 1.257-1.029 2.286-2.286 2.286s-2.286-1.029-2.286-2.286v-11.429h-11.429c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286h11.429v-11.429c0-1.257 1.029-2.286 2.286-2.286s2.286 1.029 2.286 2.286v11.429h11.429c1.257 0 2.286 1.029 2.286 2.286s-1.029 2.286-2.286 2.286z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="section1-part1-item-box">
                    <div class="section1-part1-item">
                        <p>Fabric</p>
                        <svg class="svg-s1" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <path
                                d="M29.714 18.286h-11.429v11.429c0 1.257-1.029 2.286-2.286 2.286s-2.286-1.029-2.286-2.286v-11.429h-11.429c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286h11.429v-11.429c0-1.257 1.029-2.286 2.286-2.286s2.286 1.029 2.286 2.286v11.429h11.429c1.257 0 2.286 1.029 2.286 2.286s-1.029 2.286-2.286 2.286z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="all-filter-right">
        <div class="product-div">
            <a href="#">
                <div class="product-box">
                    <div class="heart-icon-div">
                        <input type="checkbox" id="heart-checkbox" style="display: none;">
                        <label for="heart-checkbox">
                          <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                            <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                          </svg>
                        </label>
                      </div>
                    <img class="img-produ-card" src="img/page2-1.png" class="model-images" alt="Tailored Stretch Pants">
                    <h3 class="sellers-subtitle">chill wrap top</h3>
                    <div class="selers-div">
                        <p class="sellers-text">turn it up top</p>
                        <div class="price">$160</div>
                    </div>
                    
                    <div class="color-options">
                        <div class="color-circle color-olive"></div>
                    </div>
                </div>
            </a>
            <div class="product-box">
                <div class="heart-icon-div">
                    <input type="checkbox" id="heart-checkbox-2" style="display: none;">
                    <label for="heart-checkbox-2">
                      <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                        <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                      </svg>
                    </label>
                  </div>
                <img class="img-produ-card" src="img/page-2-2.png" class="model-images" alt="Technical Silk Dress">
                <h3 class="sellers-subtitle">essential t-shirt</h3>
                <div class="selers-div">
                    <p class="sellers-text">turn it up t-shirt</p>
                    <div class="price">$95</div>
                </div>

                <div class="color-options">
                    <div class="color-circle color-black"></div>
                    <div class="color-circle color-blue"></div>
                    <div class="color-circle color-green"></div>
                </div>
            </div>
            <div class="product-box">
                <div class="heart-icon-div">
                    <input type="checkbox" id="heart-checkbox-3" style="display: none;">
                    <label for="heart-checkbox-3">
                      <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                        <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                      </svg>
                    </label>
                  </div>
                <img class="img-produ-card" src="img/page2-3.png" class="model-images" alt="Cool Weave Dress">
                <h3 class="sellers-subtitle">shirt dress</h3>
                <div class="selers-div">
                    <p class="sellers-text">turn it up dress</p>
                    <div class="price">$245</div>
                </div>

                <div class="color-options">
                    <div class="color-circle color-black"></div>
                    <div class="color-circle color-blue"></div>
                    <div class="color-circle color-green"></div>
                </div>
            </div>

            <div class="product-box">
                <div class="heart-icon-div">
                    <input type="checkbox" id="heart-checkbox-4" style="display: none;">
                    <label for="heart-checkbox-4">
                      <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                        <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                      </svg>
                    </label>
                  </div>
                <img class="img-produ-card" src="img/page2-4.png" class="model-images" alt="Tailored Stretch Pants">
                <h3 class="sellers-subtitle">rule zip jacket</h3>
                <div class="selers-div">
                    <p class="sellers-text">turn it up jacket</p>
                    <div class="price">$199</div>
                </div>
                
                <div class="color-options">
                    <div class="color-circle color-olive"></div>
                    <div class="color-circle color-orange"></div>
                </div>
            </div>

            <div class="product-box">
                <div class="heart-icon-div">
                    <input type="checkbox" id="heart-checkbox-5" style="display: none;">
                    <label for="heart-checkbox-5">
                      <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                        <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                      </svg>
                    </label>
                  </div>
                <img class="img-produ-card" src="img/page2-5.png" class="model-images" alt="Tailored Stretch Pants">
                <h3 class="sellers-subtitle">New Age Linen</h3>
                <div class="selers-div">
                    <p class="sellers-text">turn it up pants</p>
                    <div class="price">$180</div>
                </div>
                
                <div class="color-options">
                    <div class="color-circle color-black"></div>
                    <div class="color-circle color-blue-dark"></div>
                    <div class="color-circle color-green"></div>
                </div>
            </div>

            <div class="product-box">
                <div class="heart-icon-div">
                    <input type="checkbox" id="heart-checkbox-6" style="display: none;">
                    <label for="heart-checkbox-6">
                      <svg class="header-icon" width="32" height="32" viewBox="0 0 32 32">
                        <path class="svg-sbest-path" d="M14.964 25.488l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.399-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0.001-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
                      </svg>
                    </label>
                  </div>
                <img class="img-produ-card" src="img/page2-6.png" class="model-images" alt="Tailored Stretch Pants">
                <h3 class="sellers-subtitle">boss pullover</h3>
                <div class="selers-div">
                    <p class="sellers-text">turn it up pullover</p>
                    <div class="price">$280</div>
                </div>
                
                <div class="color-options">
                    <div class="color-circle color-black"></div>
                    <div class="color-circle color-green"></div>
                </div>
            </div>
        </div>
        <button type="button" class="buton-uu-s1">load more</button>
    </div>
</div>
</div>
</div>
</section>