<section class="best-sellers">
    <div class="container">
    <h3 class="best-sellers-title">Best Sellers</h3>
    <div class="products-grid">
      
      <div class="product">
        <img src="img/best-seller-first.png" alt="Tailored Stretch">
        <div class="best-sellers-left">
        <h6>Tailored Stretch</h6>
        <p class="product-text">Turn it Up Pants</p>
        <div class="color-options">
            <span class="color-option" style="background-color: #0C0C0C;"></span>
            <span class="color-option" style="background-color: #7DC3EB;"></span>
            <span class="color-option" style="background-color: #748C70;"></span>
          </div>
        </div>
        <p class="price">$160</p>
        
      </div>
  
      <div class="product">
        <img src="img/best0seller-second.png" alt="Technical Silk">
        <div class="best-sellers-left">
        <h6>Technical Silk</h6>
        <p class="product-text">Make A Splash</p>
        <div class="color-options">
            <span class="color-option" style="background-color: #909225;"></span>
            <span class="color-option" style="background-color: #19418E;"></span>
            <span class="color-option" style="background-color: #0C0C0C;"></span>
          </div>
        </div>
        <p class="price">$120</p>
        
      </div>
      <div class="product">
        <img src="img/best-seller-third.png" alt="Cool Weave">
        <div class="best-sellers-left">
        <h6>Cool Weave</h6>
        <p class="product-text">Anywhere Dress</p>
        <div class="color-options">
            <span class="color-option" style="background-color: #D0A5EA;"></span>
            <span class="color-option" style="background-color: #909225;"></span>
            <span class="color-option" style="background-color: #748C70;"></span>
          </div>
        </div>
        <p class="price">$210</p>
        
      </div>
    </div>
</div>
  </section>