<div class="container">
  <h1>Collection</h1>
  <div class="grid">
    <div class="item item1">
      <img src="https://s3-alpha-sig.figma.com/img/7d6e/011d/637d8076f450d0748072279f5cc2048f?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SpXXIGTIULNPZXaynfTZkYxhLQJ7T1gJ-1Afx6OXsE9G8-Bk6sZ78k2BXHeXi5wSDhEG4koE8sfTjcMxXm4-CnLYu~6thQSE8uqm4cm3-sE0QEzV3GPG8AETYH4oJ8SQXq~qed0y~~SxQPAlZPKhCeKXujMqKkyzksjflZoEQfM9FMt0D2Wh2Xi4~b-i~qh2y1x-nz8Fp6-MJdrVzTAvFPht2M1T7KhDb14b10QpIDEpxijyXOrRlvPat6IbeId3VZF8lQG61JlhpYDQwXbYxOR3YarOEw-zLUHu7l9GDzAT7ukwJeQ0ynoAyfFGgZ7jArQb-OvawnFdA7bVjeI1RQ__" alt="Blouses">
      <div class="label1">Blouses</div>
    </div>
    <div class="item item2">
      <img src="https://s3-alpha-sig.figma.com/img/ad9c/d55b/08cf35cdef25b1b91c9267cde6c2da60?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QFvS3wDvP62SuzpWLszDdScRiPHvC-WWzuTvQg6DCVCOI94L6q55a8eiUwuBnvPmDjmqBOH66IcnwH0zDC~h5t-u7HAC8vpJA7~2xuSc1NyjArbnBisONkOan3eaG3P3MFTMJNs9WJeVF~fNGYCB6TAy1TlwUR1Pyj79uDtTMEyphVL~NOM-OqR6Z1i1Q3tyyvPhf8y0I9PpztQ3E4DTdMyaC2v01wP-yHp85KmLXOw-wmtG92TDALmGUO4v1ncQ3r2HQfZfG1beZ~ycdJ7fWWxVXeD63EJnSEA-1iMcU~wHFuHSffu60xmN3VZPfZFzjYDyrx6GQXqpuqbdbKcMbg__" alt="Pants">
      <div class="label2">Pants</div>
    </div>
    <div class="item item3">
      <img src="https://s3-alpha-sig.figma.com/img/e1eb/aac7/132efdc745cc3cbc6bead99ab9a90c31?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BttCnwbrzDtbNkhmayZH8QaWjAizds5MHUih0FeQSt6-S8oKJ~3ENI9f~qYJJpFdpn7BoqQ1lxxTGt5eDTVHu6kMQU0G2D4LC2cMEBu0n4qN4IfKMIATiJf1Uv4Ybga18VEiDnmtJPlCNEXWGnP3XGT8ft45zx6lJQlNOm8aVKx5BMNJIrzEsBSWIi0zwKpSg~m5HzaCIMVVUzjB~Zp~oeXnbTfTPrqr10l6WX6xvOnAEWz9HKT467J8iaikA0YijKSjvcHRK4okXFbbq1oadWHXertbqjUKM~0esYV1VEthY1FtxcHwdPLHWpsVAHl-eSNqVyGbLyPsWcYQNCPvkA__" alt="Dresses">
      <div class="label3">Dresses</div>
    </div>
    <div class="item item4">
      <img src="https://s3-alpha-sig.figma.com/img/73e1/4e49/4a3e57253a1e3434e22de58928784b6f?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ETxACq121ABIEFym-dOPZHuFnYTSxT35uqfs6o-b-N~WuJm5KgFUl1GGuW1xZ-T0ZXBDB3fXPLkJQIOPi-0v6Z3AFqKY53cRN8DrawYKz2UGHDz9V7NQB6Ba3zAO8xsjmjKLdmodRo5gLX7R7vP8Q0XswDgCzijMzRXZ8erl5mtBjz-yWqu77q8TT6SKY~lO2owqkNs3Lrw-XWnRpC78EjH4LKuC7nwzXtO5R1ZyRSg2EXigHKhQtbTlZdFKedf-ES7SKaSOPxXdvmowDzANpnNQSRvjl0TXi6Fxt9Gq-KC35wOJtU67gDNkvGuXyxI6OtllDmVhELJoNVqTXBwNvA__" alt="Outwear">
      <div class="label4">Outwear</div>
    </div>
  </div>
</div>

.