<section class="sustainability">
  <div class="container">
    <div class="bg-sustainability">
      <p class="about-sustainability">
        Stylish sustainability in clothing promotes eco-friendly choices for a
        greater future
      </p>
      <button class="button-followus">Sustainability</button>
    </div>
  </div>
</section>
<section class="follow-us">
  <div class="container">
    <div class="photo-outfit">
      <h3 class="title-section">Follow Us @Modimal</h3>
      <div class="photo-wrap">
        <div class="photo-left">
          <img src="img/img-followus.png" alt="img-clothes" />
        </div>
        <div class="photo-right">
          <img src="img/img-followus-2.png" alt="img-clothes" />
          <img src="img/img-followus-3.png" alt="img-clothes" />
          <img src="img/img-followus-4.png" alt="img-clothes" />
          <img src="img/img-followus-5.png" alt="img-clothes" />
        </div>
      </div>
    </div>
  </div>
</section>
