<footer>
    <div class="container">
<div class="footer-content">
    <div class="newsletter">
        <p>Join Our Club, Get 15% Off For Your Birthday</p>
        <div class="email-input">
            <input type="email" placeholder="Enter Your Email Address">
            <button>&rarr;</button>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="subscribe">
            <label for="subscribe">By Submitting your email, you agree to receive advertising emails from Modimal.</label>
        </div>
    </div>

    <div class="footer-links">
        <div class="footer-column">
            <h3>About Modimal</h3>
            <a href="#">Collection</a>
            <a href="#">Sustainability</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Support System</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Copyright Notice</a>
        </div>
        <div class="footer-column">
            <h3>Help & Support</h3>
            <a href="#">Orders & Shipping</a>
            <a href="#">Returns & Refunds</a>
            <a href="#">FAQs</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-column">
            <h3>Join Up</h3>
            <a href="#">Modimal Club</a>
            <a href="#">Careers</a>
            <a href="#">Visit Us</a>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="social-icons">
        <img src="img/Social media.png" alt="#">
        <img src="img/Social media-1.png" alt="#">
        <img src="img/Social media-2.png" alt="#">
        <img src="img/Social media-3.png" alt="#">
    </div>
    <p>&copy; 2023 Modimal. All Rights Reserved.</p>
</div>
<div class="box">
    <img src="img/Footer Chat box.png" alt="#">
</div>
</div>
</footer>


.