<div class="top-info">
			<div class="container">
				<p class="top-info-text">Enjoy Free Shipping On All Orders</p>
			</div>
</div>
<header class="header">
  <div class="container">
   <div class="flex">
    <div class="logo"><a class="logo-link" href="index.html"><img src="img/Logo.png" alt="logo"></a></div>
    <nav class="header-nav navbar-header">
      <ul class="header-nav_list">
        <li class="header-nav_list-item dropdown"><a class="header-nav_link dropbtn" href="">Collection</a>
          <div class="header-drop-flex">
          <div class="dropdown-content">
            <div class="container">
            <div class="dropdown-category">
              <h3>Category</h3>
              <a href="#">Shop All</a>
              <a href="#">Blouses & Tops</a>
              <a href="#">Pants</a>
              <a href="#">Dresses & Jumpsuits</a>
              <a href="#">Outwear & Jackets</a>
              <a href="#">Pullovers</a>
              <a href="#">Tees</a>
              <a href="#">Shorts & Skirts</a>
            </div>
            <div class="dropdown-featured">
              <h3>Featured</h3>
              <a href="#">New In</a>
              <a href="#">Modiweek</a>
              <a href="#">Plus Size</a>
              <a href="#">Best Seller</a>
            </div>
            <div class="dropdown-more">
              <h3>More</h3>
              <a href="#">Bundles</a>
              <a href="#">Occasion Wear</a>
              <a href="#">Matching Set</a>
              <a href="#">Suiting</a>
            </div>
            <div class="dropdown-img">
              <div class="image-container">
                <img class="menu-first" src="img/category-img1.png" alt="Blouses">
                <p>Blouses</p>
              </div>
              
              <div class="image-container">
                <img class="menu-first" src="img/category-img2.png" alt="Plus size">
                <p>Plus size</p>
              </div>
            </div>
          </div>
          </div>

        </li>
        <li class="header-nav_list-item dropdown"><a class="header-nav_link dropbtn" href="">New In</a>
          <div class="dropdown-content">
            <div class="container">
            <div class="dropdown-category">
              <h3>Category</h3>
              <a href="#">Shop All</a>
              <a href="#">Blouses & Tops</a>
              <a href="#">Pants</a>
              <a href="#">Dresses & Jumpsuits</a>
              <a href="#">Outwear & Jackets</a>
              <a href="#">Pullovers</a>
              <a href="#">Tees</a>
              <a href="#">Shorts & Skirts</a>
            </div>
            <div class="dropdown-trending">
              <h3>Trending</h3>
              <a href="#">plus size</a>
              <a href="#">fall collection</a>
              <a href="#">modiweek</a>
            </div>
            <div class="dropdown-img">
              <div class="image-container">
                <img class="menu-second" src="img/new-in-first.png" alt="fall collection">
                <p>fall collection</p>
              </div>
              
              <div class="image-container">
                <img class="menu-second" src="img/new-in-second.png" alt="boluses">
                <p>boluses</p>
              </div>

              <div class="image-container">
                <img class="menu-second" src="img/new-in-third.png" alt="dresses">
                <p>dresses</p>
              </div>
          </div>
          </div>
        </li>
        <li class="header-nav_list-item"><a class="header-nav_link" href="product.html">Modiweek</a></li>
        <li class="header-nav_list-item dropdown"><a class="header-nav_link dropbtn" href="">Plus Size</a>
          <div class="dropdown-content">
            <div class="container">
            <div class="dropdown-category">
            
              <h3>Category</h3>
              <a href="#">Shop All</a>
              <a href="#">Blouses & Tops</a>
              <a href="#">Pants</a>
              <a href="#">Dresses & Jumpsuits</a>
              <a href="#">Outwear & Jackets</a>
              <a href="#">Pullovers</a>
              <a href="#">Tees</a>
              <a href="#">Shorts & Skirts</a>
          </div>
          <div class="dropdown-img">
            <div class="image-container">
              <img  src="img/plus-size1.png" alt="Pants">
              <p>Pants</p>
            </div>
            
            <div class="image-container">
              <img  src="img/plus-size2.png" alt="dresses">
              <p>dresses</p>
            </div>

            <div class="image-container">
              <img  src="img/plus-size3.png" alt="blouses">
              <p>blouses</p>
            </div>
        </div>
          </div>
        </li>
        <li class="header-nav_list-item dropdown"><a class="header-nav_link dropbtn" href="">Sustainability</a>
          <div class="dropdown-content">
            <div class="container">
            <div class="dropdown-sustainability">
              <h3>sustainability </h3>
              <a href="#">mission</a>
              <a href="#">processing</a>
              <a href="#">materials</a>
              <a href="#">packaging</a>
              <a href="#">product care</a>
              <a href="#">our suppliers</a>
            </div>
            <div class="dropdown-img">
              <div class="image-container">
                <img class="menu-last" src="img/last-one.png" alt="Blouses">
                <p>Blouses</p>
              </div>
              
              <div class="image-container">
                <img class="menu-last" src="img/last-two.png" alt="Plus size">
                <p>Plus size</p>
              </div>
            </div>
          </div>
          </div>
        </li>
      </ul>
   </nav>
   <div class="header-buy">
    <div class="header-buy-left">
  <div class="search-header">
    <button class="search-header-btn"><svg class="icon-header icon-Header-search-icon"><use xlink:href="#icon-Header-search-icon"><symbol id="icon-Header-search-icon" viewBox="0 0 32 32">
      <path d="M21.007 19.008h-1.053l-0.373-0.36c1.307-1.52 2.093-3.493 2.093-5.64 0-4.787-3.88-8.667-8.667-8.667s-8.667 3.88-8.667 8.667c0 4.787 3.88 8.667 8.667 8.667 2.147 0 4.12-0.787 5.64-2.093l0.36 0.373v1.053l6.667 6.653 1.987-1.987-6.653-6.667zM13.007 19.008c-3.32 0-6-2.68-6-6s2.68-6 6-6 6 2.68 6 6c0 3.32-2.68 6-6 6z"></path>
      </symbol></use></svg></button>
  </div>
</div>
  <div class="header-buy-right">
    <a class="header-buy-link-pers" href="register.html"><svg class="icon-header icon-Header-profile-icon"><use xlink:href="#icon-Header-profile-icon"><symbol id="icon-Header-profile-icon" viewBox="0 0 32 32">
      <path d="M24.52 20.080c-2.24-1.147-5.147-2.080-8.52-2.080s-6.28 0.933-8.52 2.080c-1.333 0.68-2.147 2.053-2.147 3.547v3.707h21.333v-3.707c0-1.493-0.813-2.867-2.147-3.547zM24 24.667h-16v-1.040c0-0.507 0.267-0.96 0.693-1.173 1.587-0.813 4.147-1.787 7.307-1.787s5.72 0.973 7.307 1.787c0.427 0.213 0.693 0.667 0.693 1.173v1.040z"></path>
      <path d="M16 16.667c2.947 0 5.333-2.387 5.333-5.333 0-1.827 0-4.667 0-4.667 0-1.107-0.893-2-2-2-0.693 0-1.307 0.36-1.667 0.893-0.36-0.533-0.973-0.893-1.667-0.893s-1.307 0.36-1.667 0.893c-0.36-0.533-0.973-0.893-1.667-0.893-1.107 0-2 0.893-2 2 0 0 0 2.827 0 4.667 0 2.947 2.387 5.333 5.333 5.333zM13.333 8h5.333v3.333c0 1.467-1.2 2.667-2.667 2.667s-2.667-1.2-2.667-2.667v-3.333z"></path>
      </symbol></use></svg></a>
    <a class="header-buy-link-like" href=""><svg class="icon-header icon-Header-favorite-icon"><use xlink:href="#icon-Header-favorite-icon"><symbol id="icon-Header-favorite-icon" viewBox="0 0 32 32">
      <path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="2.6667" d="M14.964 25.486l-0.002-0.002c-3.46-3.138-6.224-5.647-8.139-7.988-1.899-2.322-2.824-4.315-2.824-6.397 0-3.37 2.63-6 6-6 1.916 0 3.776 0.899 4.985 2.318l1.015 1.192 1.015-1.192c1.209-1.419 3.069-2.318 4.985-2.318 3.37 0 6 2.63 6 6 0 2.082-0.924 4.075-2.824 6.4-1.915 2.343-4.678 4.855-8.138 7.999-0.001 0-0.001 0.001-0.001 0.001l-1.033 0.933-1.039-0.946z"></path>
      </symbol></use></svg></a>
    <a class="header-buy-link-kosz" href=""><svg class="icon-header icon-Header-bag-icon"><use xlink:href="#icon-Header-bag-icon"><symbol id="icon-Header-bag-icon" viewBox="0 0 32 32">
      <path d="M24 8h-2.667c0-2.947-2.387-5.333-5.333-5.333s-5.333 2.387-5.333 5.333h-2.667c-1.467 0-2.667 1.2-2.667 2.667v16c0 1.467 1.2 2.667 2.667 2.667h16c1.467 0 2.667-1.2 2.667-2.667v-16c0-1.467-1.2-2.667-2.667-2.667zM16 5.333c1.467 0 2.667 1.2 2.667 2.667h-5.333c0-1.467 1.2-2.667 2.667-2.667zM24 26.667h-16v-16h2.667v2.667c0 0.733 0.6 1.333 1.333 1.333s1.333-0.6 1.333-1.333v-2.667h5.333v2.667c0 0.733 0.6 1.333 1.333 1.333s1.333-0.6 1.333-1.333v-2.667h2.667v16z"></path>
      </symbol></use></svg></a>
    </div>
  </div>
</div>
  </div>
</header>