<section class="modiweek">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"></div>
                <div class="swiper-slide"><p>Sunday</p><img src="/img/Rectangle 12349.png" alt="#"></div>
                <div class="swiper-slide"><p>Monday</p><img src="/img/Rectangle 12349-1.png" alt="#"></div>
                <div class="swiper-slide"><p>Tuesday</p><img src="/img/Rectangle 12349-2.png" alt="#"></div>
                <div class="swiper-slide"><p>Wednesday</p><img src="/img/Rectangle 12349-3.png" alt="#"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
        </div>
    </div>
</section>