<section class="modiweek">
    <div class="container">
        <h1>Modiweek</h1>
        <!-- Slider main container -->
        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="img/Rectangle 12349.png" alt="#"><p>Sunday</p></div>
                <div class="swiper-slide"><img src="img/Rectangle 12349-1.png" alt="#"><p>Monday</p></div>
                <div class="swiper-slide"><img src="img/Rectangle 12349-2.png" alt="#"><p>Tuesday</p></div>
                <div class="swiper-slide"><img src="img/Rectangle 12349-3.png" alt="#"><p>Wednesday</p></div>
                <div class="swiper-slide"><img src="img/40471af0f1a8b7063b5d79ec574a7c11.png" alt=""><p>Thursday</p></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
        </div>
    </div>
</section>